:root {
    /* Colors */
    --dark: #1b1b1b;
    --light: rgb(44, 117, 181);

    /* Fonts */
    --abril: 'Abril Fatface', cursive;
    --poppins: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 5px;;
}

::-webkit-scrollbar:verical {
   display: none;
}

.short-header-text {
    display: none;
}


/* G E N E R A L */

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: var(--poppins);
}

a {
    color: white; 
}

header {
    display: flex; 
    align-items: center;
    justify-content: center;

    margin: 50px 0;

    color: var(--light);
    font-family: var(--abril);
    font-size: 100px;
}

/* B U T T O N S */

.button-wrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: center;

    margin: auto;
    max-width: 80%;
    padding-bottom: 50px;
}

.buttons {
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px; ;
}

.filter-button {
    cursor: pointer; 
    color: white; 
    font-size: 15px; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    padding: 15px;
    background-color: var(--dark);
    border: none; 
    border-radius: 16px; 
    text-align: left; 
}

.active {
    color: var(--light);
}

.filter-button:hover {
    color: var(--light);
}

.buttons span {
    margin: 0 10px;
}


/* A R T I C L E */

#containerDiv {
    margin: auto; 
    max-width: 80%; 
}

article {
    display: flex; 
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom right, var(--dark), black);
    border-radius: 10px;
}

article > div {
    margin: 25px; 
}

img {
    margin: 25px; 
    border-radius: 10px;
    width: 300px;
    height: 300px;
}


/* I N F O */

.info {
    width: 500px; 
}

.tracklist {
    width: 600px; ;
}

h2 {
    margin: 0 0 10px 0;
    color: var(--light);
    font-size: 30px; 
}

.album {
    font-size: 25px;
    margin: 10px 0;
}

.year, .label, .time, .spotify {
    font-size: 20px; 
}

.spotify-header {
    text-decoration: none;
}

.spotify-icon {
    color: #1DB954; 
}

.filter-header, .year-header, .label-header, .time-header, .spotify-header {
    margin-left: 10px; 
    font-weight: 500; 
}

.tracklist-header {
    font-weight: bold;
}

.tracklist {
    font-size: 20px; 
}

.track {
    font-size: 20px;
}


/* S C R O L L  T O  T O P  */

.scroll-to-top {
    height: 25px;
    width: 25px;
    background: transparent;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 50px; 
    color: var(--light);
    cursor: pointer;
}

.scroll-to-top i {
    position: relative;
    bottom: 10px; 
}

.fa-arrow-up {
    color: var(--light);
    font-size: 35px; 
}

i span {
    font-family: var(--poppins);
}


/* M E DI A  Q U E R Y S */

@media (max-width: 1200px) {

    .short-header-text { 
        display: inline-block; 
    }

    .full-header-text { 
        display: none; 
    }

    .buttons {
        display: flex; 
        align-items: center;
    }

    .buttons div {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    article {
        display: flex; 
        flex-direction: column;
    }

    article > div {
        margin: 25px; 
    }

    img, .info, .tracklist {
        margin: 25px 25px 0 25px;
    }

    .info, .tracklist {
        width: auto; 
    }

    .tracklist {
        max-width: 700px; 
    }

}