:root {
    /* Colors */
    --dark: #1b1b1b;
    --light: rgb(44, 117, 181);

    /* Fonts */
    --abril: 'Abril Fatface', cursive;
    --poppins: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: 5px;;
}

::-webkit-scrollbar:verical {
   display: none;
}

.short-header-text {
    display: none;
}


/* G E N E R A L */

body {
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: var(--poppins);
}

a {
    color: white; 
}

a:hover {
    text-decoration: none;
}

header {
    display: flex; 
    align-items: center;
    justify-content: center;

    margin: 50px 0;

    color: var(--light);
    font-family: var(--abril);
    font-size: 6em;
}

/* B U T T O N S */

.button-wrapper {
    display: flex; 
    flex-direction: column; 
    justify-content: left;

    margin: auto;
    max-width: 80%;
}

.buttons {
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px; ;
}

.filter-button {
    cursor: pointer; 
    color: white; 
    font-size: 1em; 
    margin-right: 10px; 
    margin-bottom: 10px; 
    padding: 15px;
    background-color: var(--dark);
    border: none; 
    border-radius: 16px; 
    text-align: left; 
}

.active {
    color: var(--light);
}

.filter-button:hover {
    color: var(--light);
}

button i {
    margin: 0 10px;
}

button:focus {
    outline: none; 
}

.btn-dropdown-artist, .btn-dropdown-year {
    font-size: 1.3em;
}


/* A R T I C L E */

#containerDiv {
    margin: auto; 
    max-width: 80%;
    padding-top: 25px; 
}

article {
    display: flex; 
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom right, var(--dark), black);
    border-radius: 10px;
}

article > div {
    margin: 25px; 
}

img {
    margin: 25px; 
    border-radius: 10px;
    width: 300px;
    height: 300px;
}


/* I N F O */

.info {
    width: 500px; 
}

.tracklist {
    width: 600px; ;
}

h2 {
    margin: 0 0 10px 0;
    color: var(--light);
    font-size: 2em; 
}

.album {
    font-size: 1.5em;
    margin: 10px 0;
}

.year, .label, .time, .spotify {
    font-size: 1.3em; 
}

.spotify-icon {
    color: #1DB954; 
}

.filter-header, .year-header, .label-header, .time-header, .spotify-header {
    margin-left: 15px; 
    font-weight: 500; 
}

.tracklist-header {
    font-weight: bold;
}

.tracklist, .track {
    font-size: 1em; 
}

.footer {
    display: flex; 
    align-items: center;
    justify-content: center; 

    margin-top: 25px;
    height: 450px; 
    background-image: linear-gradient(to bottom right, var(--dark), black);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logo img {
    height: 300px;
    border-radius: 50%;
}

.logo, .social {
    margin: 25px;
    width: 400px;
}

.social {
    display: flex; 
    flex-direction: column;
}

.social i {
    margin-right: 5px;  
}



.fa-instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* S C R O L L  T O  T O P  */

.scroll-to-top {
    height: 75px;
    width: 75px;
    background: transparent;
    position: fixed;
    bottom: 75px;
    right: 75px;
    z-index: 99;
    font-size: 3em; 
    color: var(--light);
    cursor: pointer;
}

.scroll-to-top i {
    position: relative;
    bottom: 10px; 
}

.fa-arrow-up {
    color: var(--light);
    font-size: em; 
}

i span {
    font-family: var(--poppins);
}


/* M E DI A  Q U E R Y S */

@media (max-width: 1200px) {

    body {
        font-size: 2em;
    }

    header{
        margin: 25px 0;
        font-size: 4em;
    }

    .short-header-text { 
        display: inline-block; 
    }

    .full-header-text { 
        display: none; 
    }

    #containerDiv, .button-wrapper {
        max-width: 90%;
    }

    .buttons {
        display: flex; 
        align-items: center;
    }

    .buttons div {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    article {
        display: flex; 
        flex-direction: column;
    }

    article > div {
        margin: 50px; 
    }

    img, .info, .tracklist {
        margin: 50px 50px 0 50px;
    }

    .info, .tracklist {
        width: auto; 
    }

    .tracklist {
        max-width: 700px; 
    }

}